#header {
    background-color: #005386;
    color: white;
    padding: 1rem;
    border: 0.5rem solid #93bed8f1;
    margin: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header > p {
    font-size: 1.25rem;
}

div.car {
    background-color: #93bed8f1;
    padding: 1rem;
    border: 0.5rem solid black;
    margin: 0.5rem;
    display: grid;
    place-items: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

figcaption {
    background-color:#005386;
    color: white;
    font-size: clamp(0rem, 1.1rem, 2rem);
    padding: 0.5rem;
    border: 0.1rem solid white;
    overflow-wrap: break-word;
    white-space: normal;
}

div.infobox {
    background-color: tan;
    color: black;
    padding: 1rem;
    border: 0.5rem solid black;
    margin: 0.5rem;
}

#layout {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 2fr) minmax(0, 1fr);
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto;
    container-type: inline-size;
    container-name: cars;
}

layout > * {
    min-width: 0;
}

#bobcat {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#travelall {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#stingray {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#f150 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#learnmore {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

@media (max-width: 1000px) {
    #layout {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    #layout > * {
        grid-row: auto;
        grid-column: auto;
    }

    #learnmore {
        grid-column: 1 / 3;
    }
}

@media (max-width: 500px) {
    #layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    #layout > * {
        grid-row: auto;
        grid-column: auto;
    }
}